{% set loc = content.image_location %}

<h4>{{content.heading}}</h4>
<div class="row">
	<div class="featured-img">
		{% if loc == 'left' %}
			<img src="{{TimberImage(content.image).src}}" />
		{% else %}
			{{content.text}}
		{% endif %}
	</div>
	<div class="featured-desc">
		{% if loc == 'right' %}
			<img src="{{TimberImage(content.image).src}}" />
		{% else %}
			{{content.text}}
		{% endif %}
	</div>
</div>
