
<div class="clearfix">
	<div class="featured-img">
		{% if content.image_location == 'left' %}
			<img src="{{TimberImage(content.image).src}}" />	
		{% else %}
			{% if content.heading %}
				<h4>{{content.heading}}</h4>
			{% endif %}
			{{content.text}}
		{% endif %}
	</div>
	<div class="featured-desc">
		{% if content.image_location == 'right' %}
			<img src="{{TimberImage(content.image).src}}" />
		{% else %}
			{% if content.heading %}
				<h4>{{content.heading}}</h4>
			{% endif %}
			{{content.text}}
		{% endif %}
	</div>	
</div>
