
<section class="article-section container-squish">

	<div class="featured-left">
		{% include 'partials/micro/list-cats.twig' %}
		<p>{{post.meister_bio}}</p>
		{% include 'partials/share-btns.twig' %}
	</div>

	<div class="featured-right has-credit teaser lazyload">
		{% if post.meister_pic %}
			{% set pic = TimberImage(post.meister_pic) %}
			<img
		    data-sizes="auto"
		    data-src="{{pic.src('thumbnail')}}"
		    data-srcset="{{pic.src('medium')}} 300w,
		    {{pic.src('large')}} 800w"
		    class="lazyload blur-up" />
		{% else %}
			<img src="{{post.thumbnail.src('medium')}}" alt="{{post.title}}">
		{% endif %}
		{% include 'partials/micro/image-credit.twig' with { credit: post.image_credit, credit_link: post.image_credit_link } %}
	</div>

</section>

{% if post.content_order %}
	{% include 'meister-partials/logic.twig'	%}
{% else %}
  {% include 'meister-partials/quote.twig' %}
  {% include 'meister-partials/content-blocks.twig' %}
  {% include 'meister-partials/gear.twig' %}
  {% include 'meister-partials/deals.twig' %}
{% endif %}

{% if post.additional_resources %}
	<section class="article-section container-squish">

		<header class="article-section-header">
			<h3>Additional Resources</h3>
			<p>Check out these links to additional episode content.</p>
		</header>

		<ul class="list list-table">
			{% for item in post.get_field('additional_resources') %}
				<li>
					<a href="{{item.resource_link}}" target="blank">{{item.resource_title}}</a>
					{% if item.resource_time_in_episode %}
						<span class="meta"> - {{item.resource_time_in_episode}}</span>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

	</section>
{% endif %}

