<header class="page-header" style="background-image: url({{TimberImage(header_image.desktop_image).src}});">
    <div class="container">
        <h1 class="page-title">{{post.title}}</h1>
        {# <p>{{post.introduction}}</p>   		 #}
    </div>

    {% set meister = TimberPost(header_image.related_meister) %}
	
	<p class="caption page-header-caption">{{header_image.caption}} {% if meister %} Courtesy <a class="special" href="{{meister[0].link}}">#{{meister[0].episode_num}} {{meister[0].title}}</a> {% endif %}</p>
</header>