{% set meister = TimberPost(header_image.related_meister) %}
{% set display = post.header_display %}

{#  
	This logic is a little weird so that existing pages don't have 
	to be adjusted (the Header Display field was added later). 
#}

{% if display != 'text_only' %}
	<div class="rotate">
		{% include 'partials/micro/spinner.twig' %}
		
		<header class="page-header">


			{# TODO: thumbnail crap not working....need to get it from the ID or something. #}
			{# {% for header_image in post.get_field('header_images') %}
				{{dump(header_image.thumbnail)}}
			{% endfor %} #}


			{# {{dump(post.get_field('header_images'))}} #}
			{# {% for header_image in post.get_field('header_images') %} #}
			{# NOTE: This is querying all header images, not the ones associated with the post #}
			{% for header_image in header_images %} 
				
				{% include 'partials/pictures/_picture-caption.twig' with {
					image: header_image.thumbnail,
					post: header_image,
					class: 'page-header-image'

				} %}

				{% if header_image.connected_content %}
					
					<div class="spacer-bot caption page-header-caption">
					
						{# Only show the post link if its a meister #}
						{% if connected.post_type == 'meister' %}
							{% for connected in header_image.get_field('connected_content') %}
								{{connected.episode_tag}} <br><a class="special" href="{{connected.link}}">#{{connected.episode_num}} {{connected.post_title}}</a>
							{% endfor %}
						{% endif %}
						
						{% include 'partials/micro/image-credit.twig' with { 
							credit: header_image.image_credit, 
							credit_link: header_image.image_credit_link } %}
						
					</div> <!-- /.page-header-caption -->
				{% endif %}

			{% endfor %}
			
			<div class="page-info">
				<div class="container">
			        <h1 class="page-title no-margin">{{post.title}}</h1>
			    </div>
			</div>



		</header>
	</div>

{% else %}

	<header class="page-header-simple">
		<div class="contain">

			{# Special content for single blog posts. Variable set to t/f in single.twig. #}

			{% if blog_post %}
				<div class="spacer-top spacer-bot">
					<a href="{{site.link}}/blog" class="btn-alt">&larr; All posts</a>
				</div>
				{% include 'partials/micro/post-date.twig' %}
			{% endif %}
			
			<h1 class="page-title-simple">{{post.post_title}}</h1>	

			{% if blog_post %}
				{# <p class="meta">Filed under {% for cat in post.categories %}<a href="{{cat.link}}">{{cat.name}}</a>{{ loop.last ? '' : ', ' }}{% endfor %}</p> #}
				{# {% include 'partials/micro/post-date.twig' %} #}
				{% include 'partials/micro/list-tags.twig' with {tags: post.tags} %}
			{% endif %}
			
		
		</div>
	</header>
	
{% endif %}