{% set meister = TimberPost(header_image.related_meister) %}
{% set display = post.header_display %}

{#  
	This logic is a little weird so that existing pages don't have 
	to be adjusted (the Header Display field was added later). 
#}

{% if header_image.image and display != 'text_only' %}
	<div class="rotate">
		{% include 'partials/spinner.twig' %}
		<header class="page-header">

			<img id="headerImageLoader" src="{{TimberImage(header_image.image).src}}" alt="Highlighted meister">
			<noscript><img src="{{TimberImage(header_image.image).src}}" alt="Highlighted Meister"></noscript>

			<div class="page-info">
				<div class="container">
			        <h1 class="page-title no-margin">{{post.title}}</h1>
			    </div>
			</div>

			{% if meister[0] %}
				<p class="caption page-header-caption">{{meister[0].episode_tag}} {% if meister %} <br><a class="special" href="{{meister[0].link}}">#{{meister[0].episode_num}} {{meister[0].title}}</a> {% endif %}</p>
			{% endif %}

		</header>
	</div>

{% else %}

	<header class="page-header-simple">
		<div class="contain">
			{% if blog_post %}
			<div class="number-wrap">
				<div class="number">
					<span class="meta">{{post.date}}</span>
				</div>
			</div>
			{# <a href="" class="btn-alt">&larr; Blog</a> #}{% endif %}
			
			<h1 class="page-title-simple">{{post.title}}</h1>	

			{# Setting a variable here to include date for single blog posts. Probably not ideal. #}
			{% if blog_post %}<p class="meta">Filed under {% for cat in post.categories %}<a href="{{cat.link}}">{{cat.name}}</a>{{ loop.last ? '' : ', ' }}{% endfor %}</p>{% endif %}
		
		</div>
	</header>
	
{% endif %}