{% set meister = TimberPost(header_image.related_meister) %}

<header class="page-header">
	{% include 'partials/spinner.twig' %}
	<picture>
		<source srcset="{{TimberImage(header_image.image).src}}" media="(min-width: 56em)">
		<img class="page-header-image" srcset="{{TimberImage(header_image.image).src|resize(650)}}" alt="{{header_image.caption}} {% if meister %} - #{{meister[0].episode_num}} {{meister[0].title}} {% endif %}">
	</picture>
	
	<div class="page-info">
		<div class="container">
	        <h1 class="page-title no-margin">{{post.title}}</h1>
	    </div>
	</div>

	<p class="caption page-header-caption">{{header_image.caption}} {% if meister %} <br><a class="special" href="{{meister[0].link}}">#{{meister[0].episode_num}} {{meister[0].title}}</a> {% endif %}</p>

</header>