{% set meister = TimberPost(header_image.related_meister) %}
{% set display = post.header_display %}

{#  
	This logic is a little weird so that existing pages don't have 
	to be adjusted (the Header Display field was added later). 
#}

{% if header_image.image and display != 'text_only' %}
	<div class="rotate">
		{% include 'partials/spinner.twig' %}
		
		<header class="page-header">

			<picture>
				<source srcset="{{TimberImage(header_image.image).src}}" media="(min-width: 1000px)">
				<source srcset="{{TimberImage(header_image.image).src|resize(900)}}" media="(min-width: 800px)">
				<img class="page-header-image" srcset="{{TimberImage(header_image.image).src|resize(600)}}" alt="{{meister[0].title}}">
			</picture>

			<div class="page-info">
				<div class="container">
			        <h1 class="page-title no-margin">{{post.title}}</h1>
			    </div>
			</div>

			{% if meister[0] %}
				<p class="caption page-header-caption">{{meister[0].episode_tag}} {% if meister %} <br><a class="special" href="{{meister[0].link}}">#{{meister[0].episode_num}} {{meister[0].title}}</a> {% endif %}</p>
			{% endif %}

		</header>
	</div>

{% else %}

	<header class="page-header-simple">
		<div class="contain">

			{# Special content for single blog posts. Variable set to t/f in single.twig. #}

			{% if blog_post %}
				{% include 'partials/post-date.twig' %}
			{# <a href="" class="btn-alt">&larr; Blog</a> #}
			{% endif %}
			
			<h1 class="page-title-simple">{{post.title}}</h1>	

			{% if blog_post %}
				<p class="meta">Filed under {% for cat in post.categories %}<a href="{{cat.link}}">{{cat.name}}</a>{{ loop.last ? '' : ', ' }}{% endfor %}</p>
			{% endif %}
		
		</div>
	</header>
	
{% endif %}