{% set meister = TimberPost(header_image.related_meister) %}

<header class="page-header animated fadeIn">
	<img id="headerImageLoader" src="{{TimberImage(header_image.image).src}}" alt="Highlighted meister">
	{% include 'partials/spinner.twig' %}
	<div class="page-info">
		<div class="container">
	        <h1 class="page-title no-margin">{{post.title}}</h1>
	    </div>
	</div>

	{% if meister[0] %}
		<p class="caption page-header-caption">{{meister[0].episode_tag}} {% if meister %} <br><a class="special" href="{{meister[0].link}}">#{{meister[0].episode_num}} {{meister[0].title}}</a> {% endif %}</p>
	{% endif %}

</header>