<p class="meta">Share: </p>

<ul class="share-links">
	<li>
		<a href="http://facebook.com/sharer/sharer.php?u={{post.link}}" class="btn-fb btn-icon"><svg class="shape shape-facebook shape-share"><use xlink:href="#shape-facebook"/></svg></a>
	</li>
	<li>
		<a href="https://twitter.com/intent/tweet?text={{post.episode_tag}} with {{post.title}}&url={{post.link|url_encode}}&via=mountainmeister" target="blank"><svg class="shape shape-twitter shape-share"><use xlink:href="#shape-twitter"/></svg></a>
	</li>
	<li>
		<a href="https://plus.google.com/share?url={{post.link}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><svg class="shape shape-googleplus shape-share"><use xlink:href="#shape-googleplus"/></svg></a>
	</li>
</ul>