{% extends "tease/tease.twig" %}

{% block content %}

	<div class="decor-wrap">
		<div class="decor-text"><span># {{m.episode_num}}</span><span class="meta">{{m.date}}</span></div>
	</div>

	<br> <!-- shame, shame -->

	<div class="thumb-container has-credit teaser lazyload">
		<a href="{{m.link}}" title="{{m.title}}">
		{% if m.get_thumbnail %}
			<img class="lazyload" data-src="{{m.thumbnail.src}}" src="{{m.thumbnail.src|resize(50)}}" alt="{{m.title}}"/>
			<noscript><img src="{{m.thumbnail.src}}" alt="{{m.title}}" height="300" width="300"></noscript>
		{% endif %}
		</a>
		{# TODO: This needs to be faded in, or lazy load entire div, not just image. Roll your own, Lara. #}
		{% include 'partials/micro/image-credit.twig' with { credit: m.f_image_credit, credit_link: m.f_image_credit_link } %}
		<div class="thumb-caption">
			<p class="meta">{{m.episode_tag}}</p>
			<a href="{{m.link}}" class="link-more">Listen &rarr;</a>
			<br>
		</div>
	</div>

	<a href="{{m.link}}">
		<h5 class="tagline">{{m.title}}</h5>
	</a>
{% endblock %}
