{% extends "tease/tease.twig" %}

{% block content %}
	{% include 'partials/post-date.twig' %}

	<h3><a href="{{post.link}}">{{post.title}}</a></h3>
	<p class="meta">Filed under {% for cat in post.categories %}<a href="{{cat.link}}">{{cat.name}}</a>{{ loop.last ? '' : ', ' }}{% endfor %}</p>
	{% if post.get_thumbnail %}
		{% include 'partials/pictures/picture-logic.twig' with 
			{
			 	image: post.get_thumbnail, 
				loc: 'r', 
				wrap: true,
				size: 'half'
			} 
		%}
	{% endif %}
	{{post.get_preview}}
		
	{% include 'partials/edit-link.twig' %}
{% endblock %}