{% extends "tease/tease.twig" %}

{% block content %}

	<div class="col-xs-12 col-sm-8">
		
		<h4>
			<a href="{{d.deal_link}}" target="blank" title="{{d.title}}">{{d.post_title}}</a>
			<svg class="shape shape-icon shape-meta"><use xlink:href="#shape-new-window"/></svg>
		</h4>
		
		<p class="tagline">By: <span class="special">{{d.deal_vendor}}</span></p>
				
		<p>{{d.deal_desc}}</p>
		<p class="tease-cta">{{d.deal_cta}}</p>

		{% include "partials/share-btns.twig" %}
	 </div>
	
	<div class="col-xs-12 col-sm-4">
		<a href="{{d.deal_link}}" target="blank" title="{{d.title}}">
			{% if d.thumbnail %}
				<img src="{{d.thumbnail.src}}" alt="{{d.title}}">
			{% elseif d.deal_pic %}
				<img src="{{TimberImage(d.deal_pic).src}}" alt="{{d.title}}">
			{% else %}
				{# TODO: this isn't working for some reason.... #}
				{% set default = site.theme.uri ~ '/assets/img/util/default-meister.png' %}
				<img src="{{default}}" alt="{{d.title}}">
			{% endif %}
		</a>

		<a class="btn-cta" href="{{d.deal_link}}" target="blank" title="{{d.title}}">Grab it</a>
		{% include "partials/micro/date-logic.twig" %}
	</div>
	
{% endblock %}