{% extends "tease/tease.twig" %}

{% block content %}

	<div class="item-desc">

		<h4>
			<a href="{{d.deal_link}}" target="blank" title="{{d.title}}">{{d.post_title}}</a>
			<svg class="shape shape-icon shape-meta"><use xlink:href="#shape-new-window"/></svg>
		</h4>

		<p class="tagline">By: <span class="special">{{d.deal_vendor}}</span></p>

		<p>{{d.deal_desc}}</p>
		<p class="tease-cta">{{d.deal_cta}}</p>

		{% include "partials/share-btns.twig" %}
	 </div>

	<div class="item-img">
		<a href="{{d.deal_link}}" target="blank" title="{{d.title}}">
			{# <pre>{{dump(d.deal_pic)}}</pre> #}
			{% if d.thumbnail %}
				{% include 'partials/pictures/_srcset-thumb.twig' with { pic: d.thumbnail } %}
			{% elseif d.deal_pic %}
				{% include 'partials/pictures/_srcset-thumb.twig' with { pic: d.deal_pic } %}
			{% else %}

			{% endif %}
		</a>

		<a class="btn-cta" href="{{d.deal_link}}" target="blank" title="{{d.title}}">Grab it</a>
		{% include "partials/micro/date-logic.twig" %}
	</div>

{% endblock %}
