{% extends 'page-archive.twig' %}

{% block content %}

<div class="page-body">
    <div class="contain-sm">

    	<header class="article-header">
	    	<h1 class="tagline tagline-page">{{title}}</h1>
    	</header>
    	
        <section class="article-section">

            <header class="article-section-header">
                <div class="number-wrap">
                    <div class="number"><span class="meta">Episodes</span></div>
                </div>
            </header>
        
        {% for post in posts %}
            {% if post.post_type == 'meister' %}
        
                {% set m = post %}

                <div class="clearfix tease tease-archive">

                    <div class="col-sm-3">
                        <a href="{{m.link}}" title="{{m.title}}">
                        {% if m.get_thumbnail %}
                            <img class="lazy" data-original="{{m.thumbnail.src|resize(400)}}" src="{{site.url}}/wp-content/themes/mtnmeister-theme/assets/img/util/loader.gif" alt="{{m.title}}"/>
                            <noscript><img src="{{m.thumbnail.src|resize(400)}}" alt="{{m.title}}" height="300" width="300"></noscript>
                        {% endif %}
                        </a>
                    </div>
                    
                    <div class="col-sm-9">

                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="tagline no-margin"><a href="{{m.link}}" title="{{m.title}}"><span class="special">#{{m.episode_num}}</span> {{m.episode_tag}}</a></h4>        
                            </div>
                            <div class="col-sm-3">
                                <a href="{{m.link}}" class="link-more no-margin">Listen &rarr;</a>
                            </div>
                        </div>
                        
                        
                        <p class="tagline tagline-tease">{{m.name}}</p>
                        
                        {% if m.categories %}

                        <ul class="list-cats meta">
                            {% for cat in m.categories|slice(0,3) %}
                                <li class="cat-item"><a href="{{cat.link}}">{{cat.name}}</a></li>
                            {% endfor %}
                        </ul>

                        {% endif %}

                        {% if m.tags %}
                            <br>
                            <ul class="list-tags">
                                <li class="meta">Tagged:</li>
                                {% for tag in m.tags|slice(0,5) %}
                                    <li class="tag"><a href="{{tag.link}}">{{tag.name}}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        {% endfor %} 
        </section>

       {#  <section class="article-section">

            <header class="article-section-header">
                <div class="number-wrap">
                    <div class="number"><span class="meta">Gear</span></div>
                </div>
            </header>
        
        </section>

        <section class="article-section">

            <header class="article-section-header">
                <div class="number-wrap">
                    <div class="number"><span class="meta">Deals</span></div>
                </div>
            </header>
        
        </section> #}
    </div>
</div>


{% endblock %}