{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    
    <body data-template="base.twig" class="{{body_class}}">
        
        <div class="svgsprites">
            {% include 'partials/svg-defs.svg' %}
        </div>
    
        {% if callout_tf == true %}
            <div class="callout"><div class="container">{{callout_bar}}</div></div>
        {% endif %}

        <header class="header" role="banner">
            {% block header %}
                {% include 'header.twig' %}
            {% endblock %}
        </header>

        <main id="content" class="main" role="main">
            {% block content %}
                Oops! Nothing here.
            {% endblock %}
            <div class="container">
                <div class="col-sm-8 main-cta">
                    <h4>Support</h4>
                    <p>{{support_text}}</p>
                    <a class="btn caption" href="{{site.link}}/support">Support MTNmeister</a>
                </div>
            </div>
        </main>

        {% block footer %}
            <footer class="footer" role="contentinfo">
                {% include 'footer.twig' %}         
            </footer>
            {{ function('wp_footer') }}            
        {% endblock %}

    </body>
</html>
