{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
        <header class="header" role="banner">
            {% block header %}
            <div class="container">

                <h1 class="header-logo">
                    <a class="header-logo-link" href="/" title="{{site.name}}" rel="home">{{site.name}}</a>
                </h1>
                <a href="#menu" class="menu-link">Menu</a>
                <nav id="menu" class="main-navigation" role="navigation">
                    <ul>
                    {% for item in main_nav.items %}
                        <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                            <a href="{{item.link}}">{{item.title}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav><!-- #menu -->

            </div>
            {% endblock %}
        </header>

        <main id="content" role="main" class="container">
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </main>

        {% block footer %}
            <footer id="footer">
                <div class="container">
                    {% include 'footer.twig' %}         
                </div>
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
