{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    
    <body data-template="base.twig" class="{{body_class}}">
        
        <div class="visually-hidden">
            {% include 'partials/svg-defs.svg' %}
        </div>
    
        {% if callout_tf == true %}
            <div class="callout">
                <div class="contain">{{callout_bar}}</div>
            </div>
        {% endif %}

        <header class="site-header" role="banner">
            {% block header %}
                {% include 'header.twig' %}
            {% endblock %}
        </header>

        <main id="content" class="site-main" role="main">
            {% block content %}
                Oops! Nothing here.
            {% endblock %}
            <footer>
                <div class="contain">
                {# Ehh...not great to hardcode the page name here. #}
                {% if post.title != 'Support' %}
                    <div class="row-sm">

                        <div class="col-sm-8 main-cta">
                            <h4>{{support_title}}</h4>
                            <p>{{support_text}}</p>
                            <a class="btn caption" {{support_text_link ? 'target="blank"'}} href="{{support_text_link ? support_text_link : support_page_link}}">{{support_btn_text}}</a>
                        </div>
                    
                    </div>
                
                {% else %}
                    <!-- judgement -->
                    <br>
                    <br>
                    <br>
                    <br>
                    <!-- end judgement -->
                {% endif %}
                </div>
                <div class="" style="postion:absolute; bottom: 0;">
                <svg class="shape shape-mtns-wide" viewBox="0 0 5 3" preserveAspectRatio="none"><use xlink:href="#shape-mtns-wide"/></svg>
                </div>
            </footer>
            
        </main>

        {% block footer %}
            <footer class="site-footer" role="contentinfo">
                {% include 'footer.twig' %}         
            </footer>
            {{ function('wp_footer') }}            
        {% endblock %}

    </body>
</html>
