  <nav id="menu" class="main-navigation" role="navigation">
    <ul>
    {% for item in footer_nav.items %}
        <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
            <a href="{{item.link}}">{{item.title}}</a>
        </li>
    {% endfor %}
    </ul>
</nav><!-- #menu -->

<p>Copyright {{"now"|date('Y')}}</p>