{% set front_page = true %}
{% extends "page.twig" %}

{% block below_title %}

	{# NOTE: 
		- It would be better to not have today's meister an array, but fine for now. 
		- Also to make this extend tease.twig
	#}
	
{% endblock %}

{% block above_content %}

	<section class="article-section">
		{% for m in meisters|slice(0,1) %}
			<header class="tease-header">
				
				{% include 'partials/micro/decor-title.twig' with {text: 'Recent Episode'} %}

				<h4 class="tagline"><a href="{{m.link}}">{{m.episode_tag}}</a></h4>
				<div class="row">
					<div class="col-xs-7">
						<p class="tagline tagline-tease">{{m.title}}</p>
					</div>
					<div class="col-xs-5">
						<a class="link-more" href="{{m.link}}" title="Meisters">Read More &rarr;</a>	
					</div>
				</div>
			</header>
			
			<div class="tease-body">
				{{m.episode_soundcloud_small}}
				{% include 'partials/micro/list-cats.twig' %}
				<p>{{m.meister_bio}}</p>
			</div>

		{% endfor %}
	</section> <!-- /.article-section -->

	<section class="article-section">
		{% for d in post.get_field('featured_deal') %}
			{% include 'tease/tease-todays_deal.twig' %}
		{% endfor %}
	</section> <!-- /.article-section -->

	<section class="article-section">
		{% include 'blocks/block-logic.twig' %}
	</section> <!-- /.article-section -->

	<section class="front-feed article-section">
		<header class="clearfix">
			{% include 'partials/micro/decor-title.twig' with {text: 'The Meisters'} %}
			<div class="row-sm">
				<div class="col-sm-8">
					<h4><a href="{{site.link}}/meisters" title="All Episodes">All Episodes</a></h4>	
				</div>
				<div class="col-sm-4">
					<a class="link-more" href="{{site.link}}/meisters" title="All Episodes">See&nbsp;all&nbsp;&rarr;</a>
				</div>
			</div>
		</header>
		<div class="row loop-thumbs">
			{% for m in meisters|slice(1,3) %}
				{% include 'tease/tease-minor_meister.twig' %}
			{% endfor %}
		</div>
	</section> <!-- /.article-section -->
		
{% endblock %}
