{% extends "base.twig" %}

{% block content %}
	front page template hi
	<h1>{{post.get_field('tagline')}}</h1>
	
	<h2>Find a meister</h2>

	<h3>Industries</h3>
	<ul>
	    {% for industry in mtn_industries %}
	        <li><a href="{{industry.link}}">{{industry.name}}</a></li>
	    {% endfor %}
	</ul>

	<h3>Tagged</h3>
	<ul>
	    {% for tag in mtn_tags %}
	        <li><a href="{{tag.link}}">{{tag.name}}</a></li>
	    {% endfor %}
	</ul>
	
{# 	
	{% for post in meisters %}
		{% include ['tease-meister.twig', 'tease.twig'] %}
	{% endfor %}

	{% for post in deals %}
		{% include ['tease-deal.twig', 'tease.twig'] %}
	{% endfor %}
 #}
{% endblock %}