{% extends "page.twig" %}

{% block today %}
	{# {% include ['tease-todays_meister.twig', 'tease.twig'] %} #}

	{# NOTE: 
- It would be better to not have today's meister an array, but fine for now. 
- Also to make this extend tease.twig
#}
	<div class="clearfix">
		
	{# {% include 'tease-todays_meister.twig' %} #}
	<section class="col-md-4">
		
			{# <h3>Today's Episode</h3> #}
	
		{# <header> #}
			<div class="number-wrap">
				<div class="number"><span class="meta">Today's Episode</span></div>
			</div>
			<br>
			{# <h2 class="tease-title"><a href="{{m.link}}">{{m.episode_tag}}</a></h2>
			<p class="tagline tagline-tease">{{m.title}}</p> #}
		{# </header> #}
		{% for m in meisters|slice(0,1) %}
			{{m.episode_soundcloud_large}}
		{% endfor %}
	{# 	{% if m.categories %}
			<ul class="list-cats">
			    {% for cat in m.categories %}
			        <li class="cat-item"><a href="{{cat.link}}">{{cat.name}}</a></li>
			    {% endfor %}
			</ul>
		{% endif %}
		<div class="clearfix">
			<div class="col-xs-12-np col-sm-6-np">
				<a class="link-more no-margin" href="{{m.link}}" title="{{m.title}}">Read more &rarr;</a>	
			</div>
		</div>
 #}
	</section> <!-- /.tease -->



	<div class="col-md-4">
		<div class="number-wrap">
			<div class="number"><span class="meta">Meister Deals</span></div>
		</div>

		{% for d in post.get_field('featured_deal') %}
			
			<h4><a href="{{d.deal_link}}" target="blank" title="{{d.post_title}}">{{d.post_title}}</a><svg class="shape shape-icon shape-meta"><use xlink:href="#shape-new-window"/></svg></h4>
			<a href="{{d.deal_link}}" target="blank" title="{{m.title}}">
			{% if d.thumbnail %}
				<img src="{{d.thumbnail.src}}" alt="{{d.title}}">
			{% elseif d.deal_pic %}
				<img src="{{TimberImage(d.deal_pic).src}}" alt="{{d.title}}">
			{% else %}
				{% set default = site.theme.uri ~ '/assets/img/util/default-meister.png' %}
				<img src="{{default}}" alt="{{d.title}}">
			{% endif %}
			</a>
			<a class="btn-cta" href="{{d.deal_link}}" target="blank" title="{{m.title}}">Grab it</a>
			<p>{{d.deal_desc}}</p>
			<p><strong>{{d.deal_cta}}</strong></p>	
			{% include "partials/deal-date-logic.twig" %}
			
		{% endfor %}
	</div>

	<div class="col-md-4">
		<div class="number-wrap">
			<div class="number"><span class="meta">Subscribe on iTunes</span></div>
		</div>
		<br>
		<img src="http://mtn.local/wp-content/uploads/2014/11/itunes_img2.png" alt="">
		{# <img src="http://www.hypebot.com/.a/6a00d83451b36c69e2017c350696f2970b-800wi" alt=""> #}
	</div>
	</div>
	
	
{% endblock %}

{% block loop_minor %}
	<div class="front-feed">
		<div class="front-feed-loop">
			<h3 class="tagline tagline-page">Recent Episodes</h3>
			<a class="link-more" href="{{site.link}}/meisters" title="{{m.title}}">See all &rarr;</a>
		</div>
	</div>

	<div class="clearfix">
		{% for m in meisters|slice(1,4) %}
			<article class="col-sm-6 col-md-3">
			{% include 'tease-minor_meister.twig' %}	
			</article>
		{% endfor %}	
	</div>
{% endblock %}
