{% extends "page.twig" %}

{% block today %}
	

	{# NOTE: 
		- It would be better to not have today's meister an array, but fine for now. 
		- Also to make this extend tease.twig
	#}
	
{% endblock %}

{% block loop %}

		<section class="article-section">
			{% for m in meisters|slice(0,1) %}
				<header class="tease-header">
					<div class="number-wrap">
						<div class="number">
							<span class="meta">Recent Episode</span>
						</div>
					</div>

					<h4 class="tagline"><a href="{{m.link}}">{{m.episode_tag}}</a></h4>
					<div class="row">
						<div class="col-xs-7">
							<p class="tagline tagline-tease">{{m.title}}</p>
						</div>
						<div class="col-xs-5">
							<a class="link-more" href="{{m.link}}" title="Meisters">Read More &rarr;</a>	
						</div>
					</div>
				</header>
				
				<div class="tease-body">
					{{m.episode_soundcloud_small}}
					{% include 'partials/cat-list.twig' %}
					<p>{{m.meister_bio}}</p>
					
				</div>
			{% endfor %}
		</section> <!-- /.article-section -->

		<section class="article-section">

			{% for d in post.get_field('featured_deal') %}
				{% set front_page = true %}
				{% include 'tease-todays_deal.twig' %}
			{% endfor %}

			<a class="link-more" href="{{site.link}}/deals" title="{{m.title}}">All Deals &rarr;</a>

		</section> <!-- /.article-section -->

		<section class="tease-featured-deal">
			<header class="col-sm-8-np">
				<h4>$100 Credit to I/O Merino</h4>
				<p>Sign up for our biweekly newsletter and I/O Merino's "Connection Club", and be entered to win a  credit to I/O Merino's online store.</p>
				{% include 'partials/mailchimp.twig' %}
			</header>
			<div class="col-sm-4-np">
				<a href="http://eepurl.com/5hA8b"><img src="http://mtnmeister.com/wp-content/uploads/2014/12/iomerino-logo.png" alt="I/O Merino Logo"></a>
			</div>	
		</section>

		<section class="front-feed">
			
			<div class="front-feed-loop">
				<h3 class="tagline tagline-page">More Episodes&nbsp;</h3>
				<a class="link-more" href="{{site.link}}/meisters" title="{{m.title}}">See&nbsp;all&nbsp;&rarr;</a>
			</div>

			<div class="clearfix">
				{% for m in meisters|slice(1,3) %}
					<article class="col-sm-6 col-md-4">
					{% include 'tease-minor_meister.twig' %}	
					</article>
				{% endfor %}	
			</div>
		
		</section>

{% endblock %}

{% block loop_minor %}{% endblock %}
