<div class="banner {{post.header_display == 'header_image' ? 'banner-enhanced' : 'banner-simple'}}">
    <div class="container">

        <div class="brand">
            <div class="logo">
                <a href="/" title="{{site.name}}" rel="home">
                    <svg class="shape shape-site-logo"><use xlink:href="#shape-site-logo" /></svg>
                </a>
            </div>
            <div class="menu-link">
                <a href="#menu">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>    
            </div> <!-- /.menu-link -->
        </div>

        <nav id="menu" class="menu-top" role="navigation">
            <ul class="menu-items">
            {% for item in main_nav.items %}
                <li class="menu-item {{item.classes | join(' ')}}">
                    <a href="{{item.link}}">{{item.title}}</a>
                </li>
            {% endfor %}
                <li class="menu-item menu-item-cta"><a href="https://itunes.apple.com/us/podcast/mtnmeister/id867219182?mt=2" class="cta-alt" target="blank" title="Subscribe on iTunes">Subscribe</a></li>
                <li class="menu-item menu-item-cta"><a href="{{site.link}}/support" class="cta" title="Subscribe on iTunes">Support</a></li>
                {# <li class="menu-item menu-item-cta"><a href="http://mtnmeister.libsyn.com/rss" class="cta-alt" target="blank" title="RSS feed">RSS</a></li> #}
            </ul>
        </nav><!-- /.menu-main -->
    
    </div>
</div> <!-- /.banner -->