<div class="container">
    <div class="row">
        
        <div class="col-xs-12 col-sm-2">
            <div class="col-xs-6">
                <a class="header-logo" href="/" title="{{site.name}}" rel="home">
                <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In  -->
                <svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                     x="0px" y="0px" width="219.1px" height="86.2px" viewBox="0 0 219.1 86.2" enable-background="new 0 0 219.1 86.2"
                     xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M170.2,40.9c-1.5,0-0.3,1.9-2,4.2c-6.4,8.6,1,8.3,0.7,10.3
                    c-0.2,1-3.7,4.1-8.5,7.1l-4.6-5.7c1.8-1.8,3.1-3.2,3.2-3.6c0.7-2.4,5.4-8.7,4.7-9.2l-11.2,8.6L110.7,0c-0.2-0.3,2.3,11.4,0,16
                    c-1.9,3.8,2.9,5.1,5.3,11.6c1.9,5.2,4.4,12.3,7.7,15.2c0,0,0,0,0,0c-1.6-4-0.1-0.2,0,0c0,0,0,0.1,0,0.1c1.8,4.3-5.1,6.9-1.1,10.4
                    c4,3.5-4.9,18.2-5.5,19.3c0,0.1-1-15.6-4-16.9c-8.8-3.7-10.4-0.8-11.1-3.1c-0.6-2.2,1.2-1.7,2.5-3.2c2-2.1,1.7-16.5,1.5-26
                    c0-0.5-0.6-0.8-1-0.4c-2.9,2.8-2.3,7.2-5.1,12.3c-3.3,5.9-17.4,17.1-16.7,27.8c0.4,7,0.1,11.8-2.9,16.4c-0.3,0.5-1.1,0.3-1.1-0.3
                    c0-3.5,0.1-11.3,0.1-15.1c0-0.6-0.8-0.8-1.1-0.3c-1.5,2.5-4.3,7.3-7.1,12.1L54,66.6c7-5.6,11-11.6,17.6-15.5c5.1-3,7.9-2.3,10.8-7.2
                    c2.8-4.8,2.1-8.5,5.8-13.4c1.4-1.9,14.6-18.5,14.8-22.1C88.5,24.1,57.4,56.6,49.6,64.3L32.3,55L21.9,65c1.9-0.5,10.1-3.3,10.3-4.8
                    c0.2-1.6,6.9,7.1,4.2,9.3c-1.4,1.2-10.9,9-12.5,11c-1.1,1.4-1.5-2.3-0.7-5.7c0.6-2.5,2.5-4.9,1.7-4.8c-1.8,0.2-5.9,3.3-8.3,5.1
                    c-0.5,0.3-3.3,4.4-5.9,7.8c-1.7-1-3.2-1.9-2.5-2.5c0.9-0.8,2.7-3.6,4.5-6.5L0,86.2h8h7.3h3.5h200.3
                    C201.6,69.6,171.3,40.9,170.2,40.9z"/>
                </svg></a>
            </div>
            <div class="col-xs-6">
                <a href="#menu" class="menu-link">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>    
            </div>

        </div>
        <div class="col-xs-12 col-sm-10 text-right">
            <nav id="menu" class="nav-main" role="navigation">
                <ul>
                {% for item in main_nav.items %}
                    <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                        <a href="{{item.link}}">{{item.title}}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav><!-- #menu -->
        </div>

    </div>
</div>