{% extends "base.twig" %}

{% block content %}

    {% include 'partials/page-header.twig' %}
		
		<div class="page-body">
			<div class="contain">
				<p class="tagline tagline-page">{{post.tagline}}</p>
			
				{% block today %}{% endblock %}
			
				{{sidebar ? ' <div class="row-md">'}}

				<section class="page-content {{sidebar_class}}">
					{% if post.introduction %}
						<p class="lead">{{post.introduction}}</p>	
					{% endif %}
					{% block loop %}{% endblock %}
					{% if front_page != true %}
						{% include 'partials/acf-block-loop.twig' %}
					{% endif %}
				</section>

				{%  if sidebar %}
					<aside class="sidebar">
						{{sidebar}}
					</aside>
				</div> <!-- /.row -->
				{% endif %}	

			</div>
		 </div> <!-- /.page-body -->

		{% block loop_minor %}{% endblock %}
	
{% endblock %}