{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1>{{post.title}}</h1>
				<h3>{{post.tagline}}</h3>
				<p>{{post.introduction}}</p>
				
				{% for post in deals %}
					{% include ['tease-deal.twig', 'tease.twig'] %}
				{% endfor %}

				<div class="article-body">
					{{post.content}}
				</div>
			</section>

		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}