{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-title">{{post.title}}</h1>
				<h3>{{post.tagline}}</h3>
				<p>{{post.introduction}}</p>
				
				<div class="article-body">
					{% for content in post.get_field('content_blocks') %}
					    {% if content.acf_fc_layout == 'large_image_block' %}
					        <img src="{{TimberImage(content.image).src}}" />
					        {# <p class="caption">{{TimberImagecontent.image).caption}}</p> #}
					        {# <aside class="notes">{{media_item.notes}}</aside> #}
					    {% elseif content.acf_fc_layout == 'text_image_left_block' %}
					        <img src="{{TimberImage(content.image).src}}" />
					        <p>{{content.text}}</p>
					    {% elseif content.acf_fc_layout == 'blank' %} 
					     	<p>{{content.wysiwyg}}</p>
					     {% elseif content.acf_fc_layout == 'call_to_action' %} 
					     	<div class="callout-footer">
						     	<p>{{content.text}}</p>
						     	<a href="{{content.button_link}}" class="btn">{{content.button_text}}</a>	
					     	</div>
					    {% endif %}
					{% endfor %}
				</div>
			</section>
			{% include 'partials/edit-link.twig' %}
		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}