{# NOTE: This is getting a little too logicy... #}
{% set is_index = true %}

{% extends "page.twig" %}

{% block above_content %}
	
	{% for post in posts %}
		<h2>{{post.title}}</h2>
		<p class="meta">{{post.date}}, Filed under {% for cat in post.categories %}<a href="{{cat.link}}">{{cat.name}}</a>{{ loop.last ? '' : ', ' }}{% endfor %}</p>
		{# {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %} #}
		{% include 'partials/acf-block-loop.twig' %}
		{{function('edit_post_link', 'Edit Post', '<span class="edit-link">', '</span>', post.ID)}}
	{% endfor %}

{% endblock %}