{% extends "page.twig" %}

{% block content %}

	<article class="type-{{post.post_type}}" id="post-{{post.ID}}">
	
		<header class="article-header">
			<div class="container-squish">
				<span class="decor-wrap">
					{# TODO: remove nbsp's #}
					<div class="decor-text"><span>&nbsp;&nbsp;# {{post.episode_num}}</span></div>
				</span>
				<p class="tagline tagline-tease">{{post.title}}</p>
				<h1 class="article-title">{{post.episode_tag}}</h1>
			</div>
		</header>
		
		<div class="contain episode-embed">
			{{post.episode_soundcloud_small}}
			<div class="text-center">
				{% include 'partials/micro/list-tags.twig' with {tags: post.tags} %}
			</div>
			<br>
		</div>

		<div class="article-body">
			{% include 'partials/meister-body.twig' %}
		</div>
		
	</article>


	{# TODO: This could be more organized with a consistent container, and would best be inside a <footer>. #}

	<footer>
		<div class="contain-sm">
			{% include 'partials/micro/edit-link.twig' %}
			{% include 'partials/micro/disqus.twig' %}
		</div>
		<div class="contain">
			{% include 'partials/prev-next.twig' %}
			{% include 'partials/loop-related_meisters.twig' with {
				how_many: 6,
				grid: 2
			} %}
		</div>
	</footer>

{% endblock %}
