{% extends "base.twig" %}

{% block content %}

	<article class="type-{{post.post_type}}" id="post-{{post.ID}}">
	
		<header class="article-header">
			<div class="container-squish">
				<span class="number-wrap">
					<div class="number"><span># {{post.episode_num}}</span></div>
				</span>
				<p class="tagline tagline-tease">{{post.title}}</p>
				<h1 class="article-title">{{post.episode_tag}}</h1>
			</div>
		</header>
		
		<div class="container episode-embed">
			{{post.episode_soundcloud_small}}
			{% if post.tags %}
				<ul class="list-tags text-center">
				    {% for tag in post.tags %}
				        <li><a href="{{tag.link}}">{{tag.name}}</a></li>
				    {% endfor %}
				</ul>
			{% endif %}
		</div>

		<div class="article-body">
			{% include 'meister/meister-body.twig' %}
		</div>

		<footer class="article-footer container-squish">
			<h3>Additional Resources</h3>
			<br>
			<ul class="list list-table">
				{% for item in post.get_field('additional_resources') %}
					<li><a href="{{item.resource_link}}" target="blank">{{item.resource_title}}</a><span class="meta">{% if item.resource_time_in_episode %} - {{item.resource_time_in_episode}}</span></li>{% endif %}
				{% endfor %}
			</ul>
		</footer>
		
{# 			<section class="comments">
		<div class="respond">
			<h3>Comments</h3>
			{{ comment_form }}
		</div>
		<div class="responses">
			{% for cmt in post.get_comments() %}
				{% include "comment.twig" with {comment:cmt} %}
			{% endfor %}
		</div>
	</section> #}

	</article>

	<nav class="nav-prevnext container">

		{% if post.prev %}
			<div class="prev">
				<a href="{{post.prev.link}}" class="link-postnav" title="{{post.prev.title}}">&larr; <span class="special">#{{post.prev.episode_num}}</span> {{post.prev.title}}</a>
			</div>
		{% endif %}

		{% if post.next %}
			<div class="next">
				<a href="{{post.next.link}}" class="link-postnav" title="{{post.next.title}}"><span class="special">#{{post.next.episode_num}}</span> {{post.next.title}} &rarr;</a>
			</div>
		{% endif %}

	</nav> <!-- /nav-prevnext -->

{% endblock %}
