{% extends "base.twig" %}

{% block content %}

	<article class="type-{{post.post_type}}" id="post-{{post.ID}}">
	
		<header class="article-header">
			<div class="container-squish">
				<span class="number-wrap">
					<div class="number"><span># {{post.episode_num}}</span></div>
				</span>
				<p class="tagline tagline-tease">{{post.title}}</p>
				<h1 class="article-title">{{post.episode_tag}}</h1>
			</div>
		</header>
		
		<div class="container episode-embed">
			{{post.episode_soundcloud_small}}
			{% if post.tags %}
				<ul class="list-tags text-center">
					<li class="meta">Tagged: </li>
				    {% for tag in post.tags %}
				        <li class="tag"><a href="{{tag.link}}">{{tag.name}}</a></li>
				    {% endfor %}
				</ul>
			{% endif %}
			<br>
		</div>

		<div class="article-body">
			{% include 'partials/meister-body.twig' %}
		</div>

	</article>

	<nav class="nav-prevnext container">

		{% if post.prev %}
			<div class="prev">
				<a href="{{post.prev.link}}" class="link-postnav" title="{{post.prev.title}}">&larr; <span class="special">#{{post.prev.episode_num}}</span> {{post.prev.title}}</a>
			</div>
		{% endif %}

		{% if post.next %}
			<div class="next">
				<a href="{{post.next.link}}" class="link-postnav" title="{{post.next.title}}"><span class="special">#{{post.next.episode_num}}</span> {{post.next.title}} &rarr;</a>
			</div>
		{% endif %}

	</nav> <!-- /nav-prevnext -->


	{% if related_meisters %}
		<footer class="container">
			<div class="loop loop-related">
				<div class="row">
					<div class="col-sm-8">
						<h4 class="tagline">Related Episodes</h4>
					</div>
					<div class="col-sm-4-np">
						<a class="link-more" href="{{site.link}}/meisters" title="All Episodes">See&nbsp;all&nbsp;&rarr;</a>
					</div>
				</div>
				<br>
				<section class="row">
				{% for m in related_meisters %}
					<div class="col-sm-2">
						{# <div class="row"> #}
							
							{# <div class="tease-support"> #}
								<a href="{{m.link}}" title="{{m.title}}">
								{% if m.get_thumbnail %}
									<img class="lazy" data-original="{{m.thumbnail.src}}" src="{{site.url}}/wp-content/themes/mtnmeister-theme/assets/img/util/loader.gif" alt="{{m.title}}"/>
									<noscript><img src="{{m.thumbnail.src}}" alt="{{m.title}}" height="300" width="300"></noscript>
								{% endif %}
								</a>
							{# </div> #}

							{# <div class="tease-main"> #}
								<h5 class="meta"><a href="{{m.link}}" title="{{m.title}}"><span class="special">#{{m.episode_num}}</span> {{m.name}}</a></h5>
{# 
								{% if m.tags %}
									<ul class="list-tags">
									    {% for tag in m.tags|slice(0, 2) %}
									        <li class="tag">{{tag.name}}</li>
									    {% endfor %}
									</ul>
								{% endif %} #}
							{# </div> #}
							
						</div>
					{# </div> #}

				{% endfor %}
				</section>
			</div>
		
		</footer>
	{% endif %}

{% endblock %}
