{% extends "base.twig" %}

{% block content %}
	<nav class="nav-prevnext">

		{% if post.prev %}
			<div class="prev">
				<a href="{{post.prev.link}}" class="link-postnav" title="{{post.prev.title}}">&larr; <span class="special">#{{post.prev.episode_num}}</span> {{post.prev.title}}</a>
			</div>
		{% endif %}

		{% if post.next %}
			<div class="next">
				<a href="{{post.next.link}}" class="link-postnav" title="{{post.next.title}}"><span class="special">#{{post.next.episode_num}}</span> {{post.next.title}} &rarr;</a>
			</div>
		{% endif %}

	</nav> <!-- /nav-prevnext -->

	<article class="type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="article-main">
			
			<header class="article-header text-center">
				<span class="number-wrap">
					<div class="number"><span># {{post.episode_num}}</span></div>
				</span>
				<p class="tag">{{post.episode_tag}}</p>
				<h1 class="article-title">{{post.title}}</h1>
			</header>
			
			<div class="article-body">
				{% include 'meister/meister-body.twig' %}
			</div>

			<footer class="article-footer">

				<nav class="nav-prevnext">
			
					{% if post.prev %}
						<div class="prev">
							<a href="{{post.prev.link}}" class="link-postnav" title="{{post.prev.title}}">&larr; <span class="special">#{{post.prev.episode_num}}</span> {{post.prev.title}}</a>
						</div>
					{% endif %}

					{% if post.next %}
						<div class="next">
							<a href="{{post.next.link}}" class="link-postnav" title="{{post.next.title}}"><span class="special">#{{post.next.episode_num}}</span> {{post.next.title}} &rarr;</a>
						</div>
					{% endif %}

				</nav> <!-- /nav-prevnext -->

			</footer>
		</section> <!-- /article-main -->

{# 			<section class="comments">
			<div class="respond">
				<h3>Comments</h3>
				{{ comment_form }}
			</div>
			<div class="responses">
				{% for cmt in post.get_comments() %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		</section> #}

	</article>

{% endblock %}
