
<article class="tease tease-featured">
	
	<header class="tease-header">
		<div class="number-wrap">
			<div class="number"><span># {{m.episode_num}}</span><span class="meta" style="font-weight: 400">{{m.date}}</span></div>
		</div>
		<h2 class="tease-title"><a href="{{m.link}}">{{m.episode_tag}}</a></h2>
		<p class="tagline tagline-tease">{{m.title}}</p>
	</header>

	<div class="tease-body">
		<div class="featured-left">
			{{m.episode_soundcloud_large}}
		</div>

		<div class="featured-right">
			{% if m.categories %}
				<ul class="list-cats">
				    {% for cat in m.categories %}
				        <li class="cat-item">{{cat.name}}</li>
				    {% endfor %}
				</ul>
			{% endif %}
			<p>{{m.meister_bio|truncate(80)}}</p>
			<div class="clearfix">
				<div class="col-xs-12-np col-sm-6-np">
					{% set post = m %}
					{% include 'partials/share-btns.twig' %}
				</div>	
				<div class="col-xs-12-np col-sm-6-np">
					<a class="link-more no-margin" href="{{m.link}}" title="{{m.title}}">Read more &rarr;</a>
				</div>
			</div>
			
		</div>	
	</div>
	
</article> <!-- /.tease -->