{% extends "tease.twig" %}

{% block content %}
	<header class="tease-header">
		<span class="number-wrap">
			<div class="number"><span># {{post.episode_num}}</span></div>
		</span>
		<h2 class="tease-title"><a href="{{post.link}}">{{post.title}}</a></h2>
		<p class="tag tag-tease">{{post.episode_tag}}</em></p>
	</header>
	<div class="tease-body">
		{{post.episode_soundcloud}}
	</div>
{% endblock %}