{# NOTE: 
- It would be better to not have today's meister an array, but fine for now. 
- Also to make this extend tease.twig
#}

{% set m = todays_meister|first %}

<article class="tease tease-featured">
	
	<header class="tease-header">
		<span class="number-wrap">
			<div class="number"><span># {{m.episode_num}}</span><span class="meta" style="font-weight: 400">{{m.date}}</div>
		</span>
		<h2 class="tease-title"><a href="{{m.link}}">{{m.episode_tag}}</a></h2>
		<p class="tagline tagline-tease">{{m.title}}</p>
	</header>

	<div class="tease-body">
		<div class="featured-img">
			{{m.episode_soundcloud_large}}
		</div>

		<div class="featured-desc">
			<ul class="list-cats">
			    {% for cat in m.categories %}
			        <li class="cat-item"><a href="{{cat.link}}">{{cat.name}}</a></li>
			    {% endfor %}
			</ul>
			<p>{{m.meister_bio|truncate(80)}}</p>	
			<div class="clearfix">
				<a class="link-more" href="{{m.link}}" title="{{m.title}}">Read more &rarr;</a>		
			</div>
			
			<div class="col-xs-12">
				<p class="meta">Share</p>
				<ul class="share-links">
					<li>Facebook</li>
					<li>Twitter</li>
					<li>Google</li>
				</ul>
			</div>
			
		</div>
	</div>

</article> <!-- /.tease -->