{% extends "tease.twig" %}

{% block content %}

	<div class="number-wrap">
		<div class="number"><span># {{m.episode_num}}</span><span class="meta">{{m.date}}</span></div>
	</div>	
	<br>
	<div class="thumb-container">
		<a href="{{m.link}}">
		{% if m.get_thumbnail %}
			<img src="{{m.thumbnail.src}}" alt="{{m.title}}"/>
		{% endif %}
		</a>
		<div class="thumb-caption">
			<p class="meta">{{m.episode_tag}}</p>
			<a href="{{m.link}}" class="link-more">Listen &rarr;</a>
			<br>
		</div>
	</div>
	<a href="{{m.link}}">
		<h5 class="tagline">{{m.title}}</h5>
	</a>
{% endblock %}