{% extends "tease.twig" %}

{% block content %}

	<header class="tease-header">
		<span class="number-wrap">
			<div class="number"><span># {{post.episode_num}}</span><span class="meta">{{post.date}}</span></div>
		</span>
		<h4 class="tagline page-tagline"><a href="{{post.link}}">{{post.episode_tag}}</a></h4>
		<p class="tagline tagline-tease">{{post.title}}</p>
	</header>

	<div class="tease-body">
		{{post.episode_soundcloud_small}}
		<div class="row">
			<div class="col-sm-8">
				{% include 'partials/cat-list.twig' %}	
			</div>
			<div class="col-sm-4">
				<br>
				<a class="link-more" href="{{post.link}}" title="{{post.title}}">Read more</a>		
			</div>	
		</div>
		
		
		
	</div>

{% endblock %}