{% extends "tease.twig" %}

{% block content %}
	<div class="number-wrap">
		<div class="number"><span># {{m.episode_num}}</span><span class="meta">{{m.date}}</span></div>
	</div>	
	<br> <!-- shame, shame -->
	<div class="thumb-container">
		<a href="{{m.link}}" title="{{m.title}}">
		{% if m.get_thumbnail %}
			<img class="lazy" data-original="{{m.thumbnail.src}}" src="{{site.url}}/wp-content/themes/mtnmeister-theme/assets/img/util/loader.gif" alt="{{m.title}}"/>
			<noscript><img src="{{m.thumbnail.src}}" alt="{{m.title}}" height="300" width="300"></noscript>
		{% endif %}
		</a>
		<div class="thumb-caption">
			<p class="meta">{{m.episode_tag}}</p>
			<a href="{{m.link}}" class="link-more">Listen &rarr;</a>
			<br>
		</div>
	</div>
	<a href="{{m.link}}">
		<h5 class="tagline">{{m.title}}</h5>
	</a>
{% endblock %}