{% extends "tease.twig" %}

{% block content %}

	<span class="number-wrap">
		<div class="number"><span># {{post.episode_num}}</span><span class="meta">{{post.date}}</span></div>
	</span>
	{# <br> #}
	<a href="{{post.link}}">
	<h5 class="tagline">{{post.title}}</h5>
	<br>
	<div class="thumb-container">
		
			{% if post.get_thumbnail %}
				<img src="{{post.thumbnail.src}}" />
			{% endif %}

			<div class="thumb-caption">
				<p class="tagline">{{post.episode_tag}}</p>
			</div>
		
	</div>
	</a>
{% endblock %}