{% extends "tease.twig" %}

{% block content %}

	<div class="number-wrap">
		<div class="number"><span># {{post.episode_num}}</span><span class="meta">{{post.date}}</span></div>
	</div>
	{# <br> #}
	
	<br>
	<div class="thumb-container">
	
		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src}}" alt="{{post.title}}"/>
		{% endif %}

		<div class="thumb-caption">
			<p class="tagline">{{post.episode_tag}}</p>
			<a href="{{post.link}}" class="link-more">Listen &rarr;</a>
			<br>
		</div>
	</div>
	<a href="{{post.link}}">
		<h5 class="tagline">{{post.title}}</h5>
	</a>
{% endblock %}