{% extends "tease.twig" %}

{% block content %}
	<header class="tease-header">
		<h2><a href="{{post.link}}"><span class="special">{{post.episode_num}}</span> {{post.title}}</a></h2>
		<p class="tagline">{{post.episode_tag}}</p>
	</header>
	<div class="tease-body">
		{{post.episode_soundcloud}}
	</div>
{% endblock %}