<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
		<h4 class="tease-title"><a href="{{post.link}}">{{post.title}}</a></h4>
		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}

	{% endblock %}
	
	{% include 'partials/edit-link.twig' %}
</article>