{# NOTE: 
- It would be better to not have today's meister an array, but fine for now. 
- Also to make this extend tease.twig
#}

{% set m = todays_meister|first %}

<article class="tease tease-featured">
	
	<header class="tease-header">
		<span class="number-wrap">
			<div class="number"><span># {{m.episode_num}}</span><span class="meta" style="font-weight: 400">{{m.date}}</div>
		</span>
		<h2 class="tease-title"><a href="{{m.link}}">{{m.title}}</a></h2>
		<p class="tagline tagline-tease">{{m.episode_tag}}</p>
	</header>

	<div class="tease-body">
		<div class="featured-img">
			{# {{m.episode_soundcloud_large}} #}
		</div>

		<div class="featured-desc">
			<ul class="list-meta list-cats">
			    {% for cat in m.categories %}
			        <li><a href="{{cat.link}}">{{cat.name}}</a></li>
			    {% endfor %}
			</ul>

			<p class="">{{m.meister_bio|truncate(80)}}</p>	
			<a class="link-more" href="{{m.link}}" title="{{m.title}}">Read more &rarr;</a>		
		</div>
	</div>

</article>