{% extends "tease.twig" %}

{% block content %}
	<header class="tease-header">
		<h2>{{post.title}}</h2>
		<p>{{post.deal_cta}}</p>
	</header>
	<div class="tease-body">
		<p>{{post.deal_desc}}</p>
		<img src="{{TimberImage(post.deal_pic).src}}" alt="{{post.title}}">
		<p>Brought to you by: {{post.deal_vendor}}</p>
	</div>
{% endblock %}