<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
		<h2><a href="{{post.link}}">{{post.title}}</a></h2>
		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}

	{% endblock %}
	
	<a href="{{post.link}}" class="link-more" title="{{post.title}}">Read more &rarr;</a>

	{% include 'partials/edit-link.twig' %}
</article>