{% extends "tease.twig" %}

{% block content %}

	<header class="tease-header">
		<div class="number-wrap">
			<div class="number">
				<span># {{m.episode_num}}</span>
				<span class="meta">{{m.date}}</span>
			</div>
		</div>

		<h4 class="tagline"><a href="{{m.link}}">{{m.episode_tag}}</a></h4>
		<div class="row">
			<div class="col-xs-7">
				<p class="tagline tagline-tease">{{m.title}}</p>
			</div>
			<div class="col-xs-5">
				<a class="link-more" href="{{m.link}}" title="{{m.title}}">More &rarr;</a>	
			</div>
		</div>
	</header>
	
	<div class="tease-body">
		{{m.episode_soundcloud_small}}
		{% include 'partials/cat-list.twig' %}
	</div>

{% endblock %}