<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{post.get_field('track_id')}}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<img src="{{TimberImage(post.get_field('meister_pic')).src}}" alt="{{post.title}}">

<p>{{post.get_field('meister_bio')}}</p>

<h3>Industries</h3>
<ul>
    {% for industry in mtn_industries %}
        <li><a href="{{industry.link}}">{{industry.name}}</a></li>
    {% endfor %}
</ul>

<h3>Tagged</h3>
<ul>
    {% for tag in mtn_tags %}
        <li><a href="{{tag.link}}">{{tag.name}}</a></li>
    {% endfor %}
</ul>

<section class="article-body-block">
	<h3>Best Quotes</h3>
    {% for item in post.get_field('quotes') %}
        <div class="item">
            <p>{{item.quote_text}}</p>
            <p>{{item.time_in_episode}}</p>
        </div>
    {% endfor %}
</section>

<section class="article-body-block">
	<h3>Gear Recommendations</h3>
	{% for item in post.get_field('gear_recommendations') %}
		<div class="item">
		    <h4>{{item.gear_title}}</h4>
		    <img src="{{TimberImage(item.gear_photo).src}}" alt="{{item.title}}">
		    <h6>{{item.time_in_episode}}</h6>
		    <p>{{item.gear_description}}</p>
			
			{% set deals = TimberPost(item.gear_to_deal) %}

			{% if deals %}
				<h3>Meister deal!</h3>

				{% for deal in deals %}
					<p>Related deal: {{deal.title}}</p>
				{% endfor %}
	
			{% endif %}

				    
		    <a href="{{item.gear_link}}" title="{{item.title}}">On the Web</a>

		</div>
	{% endfor %}
</section>

