
{# <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/172079987&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe> #}

{# <img src="{{TimberImage(post.meister_pic).src}}" alt="{{post.title}}"> #}

{#
Keeping out the image for now
 <p>{{post.meister_bio}}</p> #}


	<section class="article-body-block clearfix container-squish">

		<div class="col-sm-6">
			<p>{{post.meister_bio}}</p>
			{% include 'partials/cat-list.twig' %}
		</div>

		<div class="col-sm-6">
			<br>
			<img src="{{TimberImage(post.meister_pic).src}}" alt="{{post.title}}">
		</div>

	</section>


	<div class="article-body-block container">
	    {% for item in post.get_field('quotes') %}
            <blockquote class="featured-quote">{{item.quote_text}}</blockquote>
            <p class="text-right meta">Time in episode: {{item.time_in_episode}}</p>
	    {% endfor %}
	</div>

	<section class="article-body-block container-squish clearfix">
		<h3>Gear Recommendations</h3>
		<p>If you could recommend one piece of gear...</p>
		{% for item in post.get_field('gear_recommendations') %}
		<div class="item">
			<div class="item-desc">
			    <h4><a href="{{item.gear_link}}" title="{{item.title}}">{{item.gear_title}}</a> <span class="meta">[Link]</span></h4>
			    <p>{{item.gear_description}}</p>
				<p class="meta">Time in episode: {{item.time_in_episode}}</p>

			    {% set deals = TimberPost(item.gear_to_deal) %}

				{% if deals %}

					{% for deal in deals %}
						<p>Meister deal!: {{deal.title}}</p>
					{% endfor %}
		
				{% endif %}

			 </div>
			 <div class="item-img">
			 	<img src="{{TimberImage(item.gear_photo).src}}" alt="{{item.title}}">
			 </div>
		</div>
		
		{% endfor %}
	</section>
