
	<div class="article-section container-squish">
		{# <div class="row"> #}

		<div class="featured-left">
			<p>{{post.meister_bio}}</p>
			{% include 'partials/cat-list.twig' %}
			{% include 'partials/share-btns.twig' %}
		</div>

		<div class="featured-right">
			<img src="{{TimberImage(post.meister_pic).src}}" alt="{{post.title}}">
		</div>
			
		{# </div> #}
		
	</div>


	<div class="article-section container">

		<div class="quote-container">
			<blockquote class="quote-featured">{{post.quote_text}}</blockquote>
			<div class="tweet-container">
				<a href="{{post.quote_tweet_link}}" target="blank" class="btn-tweet btn-icon" title="Click to Tweet"><svg class="shape shape-twitter shape-icon"><use xlink:href="#shape-twitter"/></svg> Tweet</a>
			</div>
		</div>
        {% if post.quote_time_in_episode %}
        	<p class="text-right meta">Time in episode: {{post.quote_time_in_episode}}</p>
    	{% endif %}

	</div>

	<section class="article-section container-squish">

		<h3 class="tease-title">Gear Recommendations</h3>
		
		{% for item in post.get_field('connected_gear') %}

			{% for gear in item.gear_item %}
				<div class="item">
					<div class="item-desc">
					    <h4><a href="{{gear.gear_link}}" title="{{gear.post_title}}" target="blank"><span class="special">{{gear.brand_name}}</span> {{gear.post_title}} <svg class="shape shape-icon shape-meta"><use xlink:href="#shape-new-window"/></svg></a></h4>
					    {% if item.time_in_episode %}
							<p class="meta">Time in episode: {{item.time_in_episode}}</p>
						{% endif %}
					    <p>{{gear.gear_description}}</p>
					 </div>
					 <div class="item-img">
					 	<a href="{{gear.gear_link}}" target="blank" title="{{gear.post_title}}">
					 		{# TODO: also not working... pulling thumbnail from current post #}
					 		<img src="{% if gear.thumbnail %}{{gear.thumbnail.src}}{% elseif gear.gear_photo %}{{TimberImage(gear.gear_photo).src}}{% else %}{{default}}{% endif %}" alt="{{gear.post_title}}">
					 	</a>
					 	{{gear.thumbnail}}
					 </div>
				</div>
			{% endfor %}
		    
		{% endfor %}

	</section>

	<section class="article-section container-squish">
		
		{% if post.get_field('connected_deal') %}
			<h3 class="tease-title">Deals, deals, deals!</h3>
			{% for d in post.get_field('connected_deal') %}

				{# {% for d in item.deal %} #}
					{% include ['tease-deal.twig', 'tease.twig'
					] %}
				{# {% endfor %} #}

			{% endfor %}
			{# {% endfor %} #}
		{% endif %}

	</section>
