
{# <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/172079987&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe> #}

{# <img src="{{TimberImage(post.meister_pic).src}}" alt="{{post.title}}"> #}

{#
Keeping out the image for now
 <p>{{post.meister_bio}}</p> #}


	<section class="article-body-block clearfix container-squish">

		<div class="col-sm-6">
			<p>{{post.meister_bio}}</p>
			{% include 'partials/cat-list.twig' %}
				
			<!-- Go to www.addthis.com/dashboard to customize your tools -->
			<div class="addthis_responsive_sharing"></div>
		</div>

		<div class="col-sm-6">
			<br>
			<img src="{{TimberImage(post.meister_pic).src}}" alt="{{post.title}}">
		</div>

	</section>


	<div class="article-body-block container">

		<div class="quote-container">
			<blockquote class="quote-featured">{{post.quote_text}}</blockquote>
			<div class="tweet-container">
				<a href="{{post.quote_tweet_link}}" target="blank" class="btn-tweet btn-icon" title="Click to Tweet"><svg class="shape shape-twitter shape-icon"><use xlink:href="#shape-twitter"/></svg> Tweet</a>
			</div>
		</div>
        {% if post.quote_time_in_episode %}
        	<p class="text-right meta">Time in episode: {{post.quote_time_in_episode}}</p>
    	{% endif %}

	</div>

	<section class="article-body-block container-squish">

		<h3>Gear Recommendations</h3>
		<p>Every episode we ask the Meister to recommend some gear for the listeners. This time...</p>

		{% for item in post.get_field('connected_gear') %}

			{% for gear in item.gear_item %}
				<div class="item">
					<div class="item-desc">
					    <h4><a href="{{gear.gear_link}}" title="{{gear.post_title}}" target="blank">{{gear.post_title}} <svg class="shape shape-icon shape-meta"><use xlink:href="#shape-new-window"/></svg></a></h4>
					    {% if item.time_in_episode %}
							<p class="meta">Time in episode: {{item.time_in_episode}}</p>
						{% endif %}
					    <p>{{gear.gear_description}}</p>
					 </div>
					 <div class="item-img">
					 	<a href="{{gear.gear_link}}" title="{{gear.post_title}}"><img src="{{TimberImage(gear.gear_photo).src}}" alt="{{gear.post_title}}"></a>
					 </div> 
					{% if gear.time_in_episode %}

					{% endif %}
				</div>
			{% endfor %}

		    
		{% endfor %}

		{% set deals = TimberPost(item.connected_deals) %}

		{% if deals %}

			{% for deal in deals %}
				<p>Meister deal!: {{deal.title}}</p>
			{% endfor %}

		{% endif %}

	</section>
