{% set loc = content.image_location %}
	
<div class="block-textimage">
	
	{{ content.heading ? '<h3 class="spacer-top spacer-bot">' ~ content.heading ~ '</h3>' }}
	
	<div class="image-wrap{% if content.wrap_text %} inline-{{ loc }}{% endif %} image-{{ content.image_size and content.wrap_text ? content.image_size : 'full bleed-left'}}">
		
		<img src="{{TimberImage(content.image).src}}" />

		{% if content.image_credit %} <p class="image-credit">Photo Credit: {{ content.image_credit_link ? '<a href="' ~ content.image_credit_link ~ '" target="blank">' }}{{content.image_credit}}{{ content.image_credit_link ? '</a>' }}</p>{% endif %}
	
	</div>
	{% if content.wrap_text == false %}<em>{% endif %}
	{{content.text}}
	{% if content.wrap_text == false %}</em>{% endif %}

</div> <!-- /.block-textimage -->